# Übungsaufgaben
# Coach Market: Selbstlernphase 1 - Woche 4

## Übersicht

Die folgenden Übung beschäftigen sich mit dem grundlegenden Umgang mit Jupyter Notebook und ersten Funktionen des Pakets "pandas".

Sie üben Jupyter zu bedienen und lernen Datensätze mit dem Python Paket "pandas" zu laden und zu bearbeiten. Außerdem werden erste Fragestellungen aus den Datensätzen beantworten.
Wir nutzen für diese Übung Datensätze von Autoscout24 (*autoscout24-germany-dataset.csv*), welches Informationen über dort angebotene Fahrzeuge enthält.

Wir werden die folgenden Aufgabenblöcke bearbeiten:
- **A:  Jupyter Notebook - Steuerung und Features**
- **B:  Pandas - Einladen und Übersicht über die Daten**
- **C:  Pandas - Operationen und erste deskriptive Auswertungen**
- **D:  Jupyter - Notebook magic commands (optional)**

Jede Aufgabe wurde in einer eigenen Zelle diese Notebooks beschrieben. Bitte fügen Sie direkt unter einer solchen Zelle, Zelle(n) für ihre Lösung ein!

Tipp: [https://pandas.pydata.org/docs/reference/index.html](https://pandas.pydata.org/docs/reference/index.html) finden Sie weiterführende Informationen und Hilfe zu z.B. einzelnen Funktionen.

Wenn noch nicht geschehen, installieren Sie bitte die benötigten Pakete (Pandas und Numpy).

## A) Jupyter Notebooks: Steuerung und Features 
Keyboard Shortcuts sind nicht zwingend notwendig, um mit Jupyter Notebook zu arbeiten. Sie können die gleichen Funktionen über das Menü steuern. Dennoch ersparen Sie das oftmals lästiges Steuern mit der Maus, was in der Summe viel Zeit spart.

**Aufgabe A1:** 

- Erkunden Sie das Menu und verschaffen sich einen Überblick. Wichtige Keyboard Shortcuts des Command-Modes werden im Menu angezeigt.
- Drücken Sie die Taste **H** im Command-Mode, um sich eine Übersicht der Shortcuts anzeigen zu lassen.
- Was ist der Unterschied zwischen Command-Mode und Edit-Mode?
- Versuchen Sie ein paar der Keyboard Shortcuts während der Übung zu verwenden (z.B.: Einfügen einer leeren Zelle unter der selektierten Zelle).

**Aufgabe A2:** Fügen Sie eine neue Zelle direkt unter dieser Zelle ein. Geben Sie folgenden Code in der neuen Zelle ein. Starten Sie die Ausführung der Zelle mit SHIFT+ENTER und achten Sie auf die Ausgabe.
```{python}
x = 10
y = 20
x + y
```

In [ ]:
x = 10
y = 20
x + y

**Ausgabe A3:** Fügen Sie eine weitere Zelle ein, starten Sie die neue Zelle mit dem folgenden Code und achten auf die Ausgabe. Was können Sie tun, um den Inhalt der Variablen **z** zu erhalten?
```{python}
x = 10
y = 20
z = x + y
```

In [ ]:
# keine Ausgabe, da die letzte Zeile keinen Wert zurückgibt
x = 10
y = 20
z = x + y

In [ ]:
# Der Aufruf einer Variablen gibt jedoch zurück
x = 10
y = 20
z = x + y
z

**Aufgbe A4:** Führen sie folgendenes Codefragment aus. Welche Informationen erhalten Sie? Welchen Datentype hat dieses Objekt?
```python
Out
```

In [ ]:
#Bisherige Ausgaben in Form eines Dictionary. Key ist der Index der Ausgabe.
Out

In [ ]:
# Ein Dictionary
type(Out)

**Aufgabe A5:** Lassen das sie sich das zuerst das aktuelle Arbeitsverzeichnis und dann den Inhalt des aktuellen Arbeitsverzeichnis mittel eines Shell-Kommandos ausgeben!

In [ ]:
# akutelles Arbeitsverzeichnis
# Für Windows
!cd
# Für Linux
#!pwd

In [ ]:
# Inhalt des aktuellen Arbeitsverzeichnisses
# Für Windows
!dir

# Für Linux
#!ls

**Aufgabe A6:** Importieren sie numpy mit alias np! Nutzen Sie die Inline-Hilfe (inline help), um die Funktion numpy.arange zu verstehen.\
Verwenden die Funktion in einem selbsterdachten Minimalbeispiel!

In [ ]:
import numpy as np
np.arange?

In [ ]:
#Zum Beispiel
np.arange(2,20,5)

## B) Pandas: Laden der Daten und erste Übersicht

**Aufgabe B1:** Importieren Sie Numpy unter dem alias **np** und Pandas unter dem alisas **pd**!

In [2]:
import numpy as np
import pandas as pd
pd.set_option("display.precision", 2) # zwei Nachkommastellen anzeigen

**Aufgabe B2:** Laden Sie den Datensatz in der Datei "autoscout24-germany-dataset.csv" mit der Funktion "pd.read_csv()" ein und speichern sie es als Variable df ab.

In [3]:
df = pd.read_csv("autoscout24-germany-dataset.csv")

**Aufgabe B3:** Zeigen Sie die fünf ersten und fünf letzten Zeilen des DataFrames an! (Hinweis: Nutze die Methoden "head()" und "tail()" des Dataframe-Objektes.) 
Lassen Sie anschließend die gesamten Dataframe anzeigen.

In [4]:
# Sie erhalten einen ersten Eindruck der Daten und der Spaltennamen.
# head() liefert die ersten Zeilen der Datentabelle.
df.head()

#siehe auch df.head?

   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [ ]:
# tail() liefert die letzten 5 Zeilen der Datentabelle
df.tail()

In [ ]:
# Beachten Sie die Information über Anzahl von Zeilen und Spalten
# Der Datensatz hat 46349 Zeilen.
df

**Aufgabe B4:** Lassen sie sich das Attribute "shape" des df-Objektes anzeigen! Welche Informationen gibt Ihnen der Output?

In [ ]:
# shape() liefert die Anzahl der Zeilen und Spalten
df.shape

**Aufgabe B5:** Nutzen Sie die Methode "info()" zusammen des df-Objekt (Dataframe-Objekt). Welche Informationen gibt ihnen der Output? Sind diese Infors plausibel? Was fällt Ihnen be kritischer Betrachung dieser Infos auf?

In [ ]:
# info() liefert Infos zu Spalten, Datentypen, Null-Werten und des Speicherverbrauchs
# Der Datensatz hat 46349 Zeilen. Die Spalten model,gear und hp enthalten nicht in allen Spalten non-Null-Werte!
df.info()

**Aufgabe B6:** Nutzen Sie die Methode "describe()" zusammen des df-Objekt. Welche Informationen gibt ihnen der Output?

In [ ]:
# describe() liefert statistische Informationen für Spalten mit numerischen Werten
df.describe() 
# 25%, 50%, 70% percentile, standardabweichung

**Aufgabe B7:** Nutzen Sie die Methode "describe()" mit dem Argument "include = ['object']" des df-Objekt. Welche informationen gibt ihnen der Output jetzt? Was fällt Ihnen bei der Interpretation der Werte in der Zeile "count" auf? Können Sie damit berechnen, wie viele Wagen mit automatischer Gangschaltung im Datensatz vorhanden sind?

In [ ]:
# Sie erhalten Informationen zu Spalten mit nicht-numerischen Werten.
# Die Zeile 'count' in dieser Tabelle zählt nur die non-Null-Werte!
df.describe(include = ['object'])

In [ ]:
# Anzahl Wagen mit automatischer Gangschaltung im Datenset.
# Die fehlenden Werte der Spalte 'gear' sind zu beachten!
(46167-30380)

**Aufgabe B8:** Geben sie eine Liste aller in der Spalte 'gear' vorkommenden Werte an!

In [ ]:
df['gear'].unique()

**Aufgabe B9:** Geben Sie die Spalte 'gear' der Dataframes df einaml als Series und einmal als Dataframe zurück.

In [ ]:
# Spalte als Serie
df['gear']

In [ ]:
# Spalte als Dataframe
df[['gear']]

**Aufgabe B10:** Geben Sie die Spalten 'make' und 'model' zurück.

In [ ]:
# neuer Dataframe
df[['model','make']]

## C) Operationen und erste Auswertungen

**Aufgabe C1:** Nutzen Sie die Methode "value_counts()" der Serie-Objekte. Wiederholen dies mit dem Argument "dropna=False". Was bewirkt dies? Wiederholen dies jeweils mit dem Argument "normalize = True", um die relativen Häufigkeiten anzuzeigen.

In [ ]:
# Häufigkeit einzelner Werte der Spalte 'gear'
df['gear'].value_counts()

In [ ]:
# NaNs werden auch gezählt!
df['gear'].value_counts(dropna = False)

In [ ]:
# relative Häufigkeit
df['gear'].value_counts(normalize = True)

**Aufgabe C2:** Nutzen Sie "np.mean" um den Mittelwert der Spalte "price" über den gesamten Datenbestand zu erhalten.

In [ ]:
# Mittlerer Preis
print(df['price'].mean())
print(df['price'].agg(np.mean))
np.mean(df['price'])

**Aufgabe C3:** Nutzen Sie die Methode "sort_values()" des Dataframes, um die Top 10 der günsigsten Gebrauchtwagen zurückzugeben.

In [ ]:
# Top 10 der günsigsten Gebrauchtwagen:
df.sort_values(by = ['offerType', 'price'], ascending = [False, True]).head(10)

**Aufgabe C4:** Geben Sie einen Dataframe zurück, der nur dieselbetriebene Autos enthält und dessen Baujahr nach 2019 liegt. \
Berechnen Sie den mitteleren Preis für diese Autos!

In [ ]:
# Welche Autos sind dieselbetrieben und nach 2019 gebaut worden?
df[(df['fuel'] == 'Diesel') &  (df['year'] > 2019)]

In [ ]:
# # Welche mittleren Preis haben die Autos, welche dieselbetrieben und nach dem Jahr 2019 gebaut worden sind?
df[(df['fuel'] == 'Diesel') &  (df['year'] > 2019) ]['price'].mean()

**Aufgabe C5 (optional):** Geben Sie einen Dataframe zurück, der nur Autos enthält, die entweder einerseits weniger als 30,000 Meilen gefahren sind oder andererseits einen Preis größer als 70,000 und eine manuelle Gangschaltung haben.

In [ ]:
# Welche Autos sind weniger als 30,000 Meilen gefahren oder haben einen Preis größer als 70,000 und haben eine manuelle Gangschaltung?
# Beachten Sie den Vorrang logischer Operatoren!
df[(df['mileage'] < 30000) | (df['price'] > 70000) & (df['gear'] == 'Manual')]

# Beachten Sie den Vorrang logischer Operatoren!
# Vergleichen Sie zu:
#df[((df['mileage'] < 30000) | (df['price'] > 70000)) & (df['gear'] == 'Manual')]

**Aufgabe C6:** Nutzen Sie die Methode "iloc()" des DataFrames df, um die Zeilen 2 bis inkl. 9 und die Spalten 2 bis inkl. 4 von df zu erhalten.

In [11]:
df.iloc[2:10, 2:5]

      model      fuel       gear
1      Golf  Gasoline     Manual
20  Picanto  Gasoline  Automatic

**Aufgabe C7:** Nutzen Sie die Methode "loc()" des DataFrames df, um die ersten 1000 Zeilen und die Spalten "make", "model" und "price" von df zu erhalten. Nutzen danach Sie die Methode "iloc()" des DataFrames df, um die ersten 1000 Zeilen und die Spalten "make", "model" und "fuel" von df zu erhalten. Vergleichen Sie die Ergebnisse.

In [ ]:
# Slicing der Zeilen von 0:999
df.loc[:999, ['make', 'model', 'price']]

In [ ]:
# Slicing der Zeilen von 0:1000
df.iloc[:1000, 1:4] 

# andere Lösung ohne Slicing der Spalten
#df.iloc[:1000, [1,2,3]]

**Aufgabe C8:** Nutzen Sie nun die folgende Anweisung, um einen neuen Dataframe df2 zu erzeugen und wiederholen Sie die Schritte der Aufgabe C7 für diesen Dataframe. Was fällt beim Bergleich der Ergebnisse aus!
```{python}
df2 = df[df['make'] == 'Volkswagen']
```

In [ ]:
df[df['make']=='Volkswagen'].loc[:999, ['make', 'model', 'price']]
# Der Dataframe enthält 156 Zeilen!

In [ ]:
df[df['make']=='Volkswagen'].iloc[:1000, [1,2,6]] 
# Der Dataframe enthält 1000 Zeilen!

**Aufgaben C9:** Wenden Sie die Methode "groupby()" des Dataframe df auf die Spalte 'gear' an. Was bekommen sie zurück? (Interieren sie mittels "for i,n in enumerate(df.groupby('gear')):" über das Objekt)
```{python}
df.groupby('gear')
```

In [ ]:
#Dieses Aufruf gibt ein GroupBy-Objekt zurück
df.groupby(['gear'])

In [ ]:
# Über das Groupby-Objekt (pandas.core.groupby.generic.DataFrameGroupBy) kann man iterieren. 
# Es enthält den jeweiligen Wert der gruppierten Spalte und einen Dataframe
for i,n in enumerate(df.groupby('gear')):
    print('Gruppe:',i)
    print(' 1.Element:\n',type(n[0]))#,n[0])
    print(' 2.Element:\n',type(n[1]))#,n[1])

**Aufgaben C10:** Wenden Sie die Methode "groupby()" des Dataframe df auf die Spalte 'gear' an. Benutzen dann die Methode "mean()" des erhaltenen Objekts, um sich die Mittelwerte der Spalten gruppiert nach dern Werten der Spalte 'gear' berechnen zu lassen.

In [ ]:
# Anwendung von desribe auf alle Spalten
df.groupby(['gear']).mean()

**Aufgaben C11 (optional):** Führen Sie das gleich wie in C10 durch, lassen Sie aber nur die gruppierten Informationen für die Spalten "mileage", "price" und "hp" ausgeben.

In [ ]:
# Anwendung von describe auf ausgewählte Spalten.
df.groupby(['gear'])[['mileage', 'price', 'hp']].mean()

**Aufgaben C12 (optional):** Gruppieren Sie nun nach den Werten der Spalte 'gear' und benutzen sie die Methode "agg()" um sich 'mean', und 'min' so wie 'max' anzeigen zu lassen.

In [ ]:
# Gruppieren der Daten in df nach den Werten der Spalte 'gear' und ermitteln von mean, min und max.
df.groupby(['gear']).agg(['mean', 'min', 'max'])

**Aufgaben C13 (optional):** Gruppieren Sie nun nach den Werten der Spalte 'gear' und verwenden für die Aggregation die Methode "describe()"

In [ ]:
# Erhöhen der maximal angezeigten Spalten
pd.set_option('display.max_columns', 40)
# Durchschnittlicher Preis eines Autos per Schaltart im Datenbestand
df.groupby(['gear']).describe()

**Aufgaben C14 (optional):** Bestimmen Sie den mittleren Preis aller Volkswagenmodelle mit Baujahr 2020 und ordnen Sie die Modelle nach dem mittelen Preis.

In [ ]:
# Durchschnittlicher Preis eines Models Volkswagen 2020 sortiert nach durchschnittlichem Preis
df[(df['make']=='Volkswagen') & (df.year == 2020)].groupby(['make','model'])['price'].mean().sort_values()

In [ ]:
# Durchschnittlicher Preis eines Models Volkswagen 2020 sortiert nach durchschnittlichem Preis 
# mit Anzahl der Wagen im Datenbestand
# Beispiel hier unter Verwendung von x als "Hilfsvaribele" 
x = df[(df['make']=='Volkswagen') & (df.year == 2020)].groupby(['make','model'])['price'].agg(['mean','size'])
x = x.reset_index()
x = x.rename(columns={'mean':'mean_price','size':'number_of_car'})
x = x.sort_values(by='mean_price')
x

**Aufgaben C15:** Erstellen Sie eine neue Spalte mit dem Namen "used_young_cars", welche einen boolean Wert "True" besitzt für alle Gebrauchtwagen, die älter sind als 2017 und "False" für alle Anderen.

In [ ]:
# Erstellen einer neuen Spalte 'used_young_cars': 
df['used_young_cars'] = (df['year'] > 2017) & (df['offerType'] == 'Used')
df

**Aufgaben C16:** Nutzen Sie die Methode "describe()" jeweils einmal für den Teil des Dataframe an, bei welchem "used_young_cars" == True bzw.  und "used_young_cars" == False.

In [ ]:
df[df['used_young_cars'] == True].describe()

In [ ]:
df[df['used_young_cars'] == False].describe()

**Aufgabe C17: (optional)** Wenden sie die Funktion "len" aud den Dateframe df an. Was erhalten Sie?

In [ ]:
#Man erhält die Anzahl der Zeilen.
len(df)

**Aufgabe C18: (optional)** Wenden df['model'].apply(len) an, um die Anzahl der Zeichen der Namen der Modelle zu erhalten. Was tut "apply()"? Warum funktioniert das so nicht? Betrachten sie die Ausgabe! Wie können Sie die Anzahl dennoch erhalten?

In [ ]:
# Sie eine Fehlermeldung!
# Die Modellbezeichung mancher Modelle ist eine Zahl (zwar vom Datentype Object, aber eine Zahl), für welche len() nicht definiert ist.
df['model'].apply(len)

In [ ]:
# Ändert man den Datentype aller Werte der Spalte 'model' zu String, ist das Problem behoben.
df3 = df[['make','model']].copy()
df3['Länge'] = df3['model'].astype('str').apply(len)
df3

**Aufgabe C19: (optional)** Nutzen Sie die Methode "apply()" auf den gesamten Datenbestand in df, um alle Einträge aus Firmen mit die mit 'F' anfangen zurückzugeben.

In [ ]:
# Wählt alle Einträge aus Firmen mit die mit 'F' anfangen aus
df[df['make'].apply(lambda make: make[0] == 'F')]

## D) Jupyter Notebook: Magic Commands  (optional)
Magic Commands können sehr praktisch sein, sind aber weder für die Bedienung Jupyter Notebooks noch für diese Kurs notwendig!

**Aufgabe D1: (optional)**

Lassen Sie sich alle "magic commands" anzeigen.

In [ ]:
#Übersicht über alle magic commands
%lsmagic

**Aufgabe D2: (optional)**

Was bezwecken folgende Eingaben (magic comands)?
- %who
- %whos
- %whos?
- %quickref
- %magic

In [ ]:
#Anzeige der momentan vorhandenen Variablen
%who

In [ ]:
#Übersicht der momentanen Variablen und ihrer Belegung
%whos

In [ ]:
#Inline help für %whos
%whos?

In [ ]:
#Kurzübersicht über magic commands
%quickref

In [ ]:
#Übersicht über alle magic commands
%magic

**Aufgabe D3: (optional)**

Sie wollen wissen, wie lange die Ausführung folgenden Codes dauert. Wie können Sie das erledigen? (Tipp: %%time)
```{python}
N = 100000
x=0
for i in range(1,N):
    x+=i
```
Geben sie zusätzlich den finalen Wert von **x** an!

In [ ]:
%%time
N = 1000000
x=0
for i in range(1,N):
    x+=i
x